<div class="header">
    <div class="logo">
        <h3>NCR TPRM Tool </h3>
    </div>
    <div class="nav">
        <a >Your Profile</a>
        <a >Settings</a>
        
    </div>
</div>
<div>

</div>

<div class="cards-list">
  
    <div class="card 1" >
      <div class="card_image"> <img src="../../assets/report_icon.jpg" /> </div>
      <div class="card_title title-white">
        <br>
        <p>Dashboard and Reports </p>
      </div>
    </div>

    <div class="card 1" routerLink="/assessment-page">
        <div class="card_image"> <img src="../../assets/assessment_icon3.jpg" /> </div>
        <div  class="card_title title-white">
            <br>
          <p routerLink="/assessment-page">Initiate Assessment </p>
        </div>
      </div>

      <div class="card 1" >
        <div class="card_image"> <img src="../../assets/vendor-onboard3.jpg" /> </div>
        <div class="card_title title-white">
          <br>
          <p>Onboard New Third-Party </p>
        </div>
      </div>

      
    
    </div>
    <div class="cards-list">

        

        <div class="card 1" routerLink="/thirdparty-inventory">
            <div class="card_image"> <img src="../../assets/library-icon2.png" /> </div>
            <div class="card_title title-white">
                <br>
              <p> Third Party Invenotry </p>
            </div>
          </div>
  
        
    
        
    
          
        
        </div>