<!DOCTYPE html>

<html>

<body>
  
    <div class="main">

        
        <div class="header">
            <div class="logo">
                <h3>NCR TPRM Tool </h3>
            </div>
            <div class="nav">
                <a routerLink="/member-login">Member Login</a>
                <a href="#">Request Access</a>
                
            </div>
        </div>

        
        <div class="hero">
            <div class="right">
                <p class="title">Single Point solution for Third Party Risk Management Program</p>
                <!-- <p class="subtitle"></p> -->
                <br>    
                <br>

                <!-- <button class="signup">TPRM Team Member Login</button> -->
            </div>
            <div class="left">
                <img src="../assets/ncr_logo.png" alt="test image">
            </div>
        </div>

        
        <div class="info">
            <h2 class="infotitle">Key Features</h2>
            <div class="infocards">
                <div class="card">
                    <img src="../assets/vendor icon.jpg" alt="">
                    <p class="desc">On-board and manage all your third-parties at single place.</p>
                </div>
                <div class="card">
                    <img src="../assets/assessment_icon.png" alt="">
                    <p class="desc">Perform all kind of assessments like- Inherent Risk Assessment, Information Securty Assessment, Privacy Assessment, Business Continuity Planning/Disaster Recovery Assessments.</p>
                </div>
                <div class="card">
                    <img src="../assets/risk_icon.jpg" alt="">
                    <p class="desc">Manage all your risks, along with approvals and remediation plans.</p>
                </div>
                
            </div>
        </div>

        <div class="contact-form-container">
          <h1>Request Third Party Risk Assessment</h1>
          <form>
            <input type="text" id="name" name="name" placeholder="Requested By">
        
            <input type="email" placeholder="Requestor's Email Id" size="30" required>

            <input type="text" placeholder="Third-Party/Vendor Name" size="30" required>

            <input type="text" placeholder="Third-Party/Vendor Point of Contact Name" size="30" required>

            <input type="text" placeholder="Third-Party/Vendor Point of Contact Email Id" size="30" required>

            <input type="text" placeholder="NCR Business Unit" size="30" required>

            <input type="text" placeholder="Enter Assessment Type Like- Inherent Risk Assessment, Information Security Assessment, Privacy Assessment" size="30" required>
        
            <textarea id="subject" name="subject" placeholder="Additional Comments" style="height:100px" required></textarea>
        
            <input type="submit" value="Send">
          </form>
          <br>
          
        </div>

        <!-- FOOTER -->
        <div class="footer">
            <p>NCR TPRM Project &bull; <a href="" target="_blank">Third Party Warriors</a></p>	
        </div>
    </div>



    
</body>

</html>
